/* .{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popping',sans-serif;
} */
body{
    min-height: 100vh;
    background: url(images/background.jpg)no-repeat;
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
    background-image:linear-gradient(45deg,
    rgba(245,70,66, 0.75),
    rgba(8,83,156, 0.75)), url(images/background.jpg);
    /* background-image: linear-gradient(#09a337,#6bd10c); */
    opacity: 100%;
}
.navbar>h1{
    margin-left :1em; 
     font-size:1em;


}
.navbar>div>img{
    height: 5.9vh;
    width: 10vh;
}
.navbar>div{
     justify-content: space-between;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-image:linear-gradient(to bottom right, #033747, #012733);
}
ul{
    display: inline-flex;

}
a{
    text-decoration: none;
}
li{
    list-style: none;
    /* margin-right: 2rem; */
    padding: 10px;
    font-size: 1.3rem;
    font-size: 20px;
    }
.footer{
    height: 10vh;
    width: 100%;
    background-color: black;
}
.footer{
    height: 80px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    
}
.footer{
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    padding-top:  15px;
    margin: 0px;
    padding: 0px;
}
.body{
    height: 90vh;
    width: 100%;
    
}
a{
    text-decoration: none;
}
 a:visited{
    color: black;
    font-size: 50px;
}
a:hover{
    color:red;
    background-color: red;
    color: yellow;
    border-radius: 0px 35px 0px 35px;
}
a:link{
    color: black;
    
}
.logo{
    display: flex;
}
